body {
  font-family: Arial, Helvetica, sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr, 2fr, 1fr, 1fr;
  grid-template-areas:
    'header header'
    'timer timer'
    'start focus'
    'stop break';
  gap: 1rem;
  width: 100%;
}

.btn {
  width: 60%;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: auto;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 1);
}

.btn:active,
.btn:focus {
  outline: none;
}

header {
  min-height: 100px;
  grid-area: header;
  margin: auto;
  text-align: center;
}

.header-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-transform: uppercase;
}

#timer {
  margin: auto;
  min-height: 100px;
  grid-area: timer;
  text-align: center;
  font-size: 3rem;
}

#reset {
  grid-area: focus;
  background: #5bb9f0;
}

#start {
  grid-area: start;
  background: #59f766;
}

#stop {
  grid-area: stop;
  background: #ed3330;
}

#break {
  grid-area: break;
  background: #f6ff8f;
}

@media only screen and (max-width: 900px) {
  #grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr, 2fr, 1fr, 1fr;
    grid-template-areas:
      'header'
      'timer'
      'start'
      'stop'
      'focus'
      'break';
    gap: 1rem;
    width: 100%;
  }

  .btn {
    width: 90%;
  }
}
