@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root {
  --black-color: #000;
  --white-color: #fff;
  --start-color: #45ef82;
  --stop-color: #eb2b21;
}

html {
  line-height: 1.6;
  font-family: 'Arial';
}

button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  margin: 0;
}

body {
  background-color: var(--white-color);
}

body.focus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1030' height='1030' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23d4f7ff' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

body.break {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1030' height='1030' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23f6ff8f' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

#grid {
  margin: 6rem auto;
  display: grid;
  row-gap: 3rem;
  justify-items: center;
  width: 90%;
  max-width: 900px;
}

#type {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

#time-remaining {
  font-size: 4rem;
  font-family: 'Orbitron', sans-serif;
  background: var(--black-color);
  color: var(--white-color);
  border-radius: 2rem;
  padding: 2rem;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

#controls {
  display: grid;
  justify-content: center;
}

/* SETTINGS */
#settings {
  margin-top: 5rem;
  display: grid;
  max-width: 400px;
}

.setting {
  margin-top: 2rem;
}

.setting:first-of-type {
  margin-top: 0;
}

.accordion {
  display: grid;
  row-gap: 10px;
}

.accordion-header {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 1.25rem;
  border-bottom: 1px solid var(--black-color);
  transition: background-color 0.5s ease;
}

.accordion-header:before {
  content: '↓ ';
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
  background-color: var(--black-color);
  color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.accordion-header:hover {
  border: 1px solid var(--black-color);
}

.accordion-content {
  display: none;
  padding: 1.25rem;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.accordion-content input {
  width: 50px;
  margin: 1rem auto;
  padding: 0.5rem 0;
  border: 2px solid var(--black-color);
  outline: none;
  font-size: 1.4rem;
  text-align: center;
  transition: border 0.5s ease;
}

.number-input-control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--black-color);
  border-radius: 20%;
  height: 2.5rem;
  padding: 1rem;
}

.number-input-control:hover {
  cursor: pointer;
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.accordion-content input:hover {
  outline: none;
  border: 2px solid #e8e9eb;
}

.accordion-content.active {
  opacity: 1;
  visibility: visible;
  display: block;
}

/* BUTTONS */
.tab {
  background: var(--black-color);
  opacity: 0.2;
  color: var(--white-color);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: center;
}

.tab.active {
  opacity: 1;
}

.tab::before {
  content: '↪';
  margin-right: 0.25rem;
  display: inline;
  background-color: var(--black-color);
  color: var(--white-color);
  vertical-align: middle;
  font-size: 20px;
}

.tab:hover {
  background: var(--black-color);
  opacity: 1;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  border: 0.2rem solid var(--black-color);
  box-shadow: 0.25rem 0.25rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--black-color);
  text-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0.5rem 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn[disabled] {
  background: repeating-linear-gradient(45deg, #aaaaaa, #aaaaaa 10px, #cccccc 10px, #cccccc 20px);
  opacity: 1;
  cursor: not-allowed;
}

.btn[disabled]:hover {
  box-shadow: 1rem 0;
}

.btn--action-start {
  background-color: var(--start-color);
}

.btn--action-stop {
  background-color: var(--stop-color);
}

@media only screen and (min-width: 1000px) {
  #grid {
    width: 60%;
  }
}
